.custom-bg-navbar {
    background-color: #171717;
}

.custom-bg-main {
    background-color: #080808;
}

a {
    color: #89e193;
    text-decoration: none;
}

.custom-bg-card {
    background-color: #171717;
}

.card {
    margin-top: 10px;
}

.form-check {
    padding-left: 2em;
}

.form-check-input:checked {
    background-color: green;
    border-color: green;
}

.custom-btn-bg {
    background-color: #89e193;
}